html, body {
    font-family: monospace;
    font-size: 18px;
}

canvas#canvas {
    height: 1053px;
    width: 740px;
    border: 1px solid black;
}

div#content {
    margin: 0 auto;
    width: 1200px;
}